.profilePage h4{
    margin-top: 3rem !important;


}
.profilePage h1{
    text-align: center;
    margin: 20px;
}
.profilePage .details{
    margin-top: 50px;
    width: 50%;
    margin: auto;
    
}

.profilePage{
    text-align: center;
}


@media only screen and (max-width : 600px){
    .pageTitleProfil{
      font-size: 2rem !important;
    }
    .profilePage h4{
        font-size: 0.2rem !important;
    
    
    }
  }