.loading{
    margin: 50 auto;
    text-align: center;
    font-size: x-large;
}
.homePage {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 200rem; */
}

.productList{
    margin-top: 6rem;
}
.buttonMoreDiv{
    text-align: center;
    margin-top: 1rem;
}
.buttonMore{
    
}
.homePage .heading{
    text-align: center;
}
.searchContainer{
    width: 80%;

    text-align: center;
    margin: 20px auto;
}

.homePicture{
    position: absolute; 
  top: 0; 
  left: 0; 
z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 70%; */
    transform: translate(-50%, -50%);
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
    color:  #1a1a1a;
    background-color: #ffffff6b;
      -webkit-box-shadow: 10px 10px 5px 0px rgb(196 196 196);
      -moz-box-shadow: 10px 10px 5px 0px rgba(196,196,196,1);
      box-shadow: 10px 10px 5px 0px rgb(76 76 76 / 68%);
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
  }

/* Writing effect   */

.centeredv1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 65% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.rightPicture{
    max-height: 100%;
    max-width: 100%;
    margin-left: 1rem;
    margin-top: 5rem;
    border-radius: 25px;
}

.aboutTitle{
    margin-left: 5%;
    font-weight: bold;
    color:#1D217C;
    font-size: 3rem;
}

.aboutText{
    margin-top: 7%;
    font-size: 1.2rem;
}

.aboutContainer{
    margin-top: 53rem;
}

.buttonAbout{
    padding: 4px;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    background-color : #1D217C !important; 
    text-align: center;
}

.quoteLink{
    margin-top: 7rem;
    text-align: center;
    color: #1D217C
    
}

.secondTitle{
    font-weight: 100 !important;
    color: #1d227c6c;
}

.buttonQuote{
    padding: 4px;
    margin-left: 4px ;
    background-color : #1D217C !important; 
}

.buttonQuote:hover {
    background-color:#0f6116 !important;
    transition: 0.5s;
    color: white !important;
}

.contactForm{
    margin-top: 6rem;
    background-color: #D9D9D9;
    width: 100%;
    margin-left: 0 !important;
    

}
.buttonTakeInfo{
    margin-top: 1rem;
    margin-bottom: 5rem !important;
    background-color: #1D217C !important;
}

/* .buttonTakeInfo:hover{
    background-color:#0f6116 !important;
} */

.titleForm{
    text-align: center;
    font-weight: bold;
    margin-top: 5rem !important;
    color : #1D217C
}

.footerContainer{
    text-align: center;
    background-color: #000000;
    margin: 0 !important;
    max-width: 100% !important;
    max-height: 20% !important;

}

.logoFooter{
    max-width: 40%;
    max-height: 40%;
    position: relative;
    margin-top: 3rem;
    margin-right: 5rem;
}

.linkDiv{
    margin-top: 4.5rem !important;
}

.legalMention{
    font-size: 1.2rem;
    color : white !important;
    
}

.legalMention:hover{
    color : #6368c4 !important;
}

.socialsDiv{
    margin-top: 4.5rem !important;
}

.logoInsta,.logoYT,.logoFb{
    height: 2.2rem;
    
}

.linkFooter{
    color: white;
}

/* Responsive V2 */

/* For the big image preserv ratio */
@media screen and (max-width: 1100px) { /* Specific to this particular image */
    .homePicture{
        position: absolute; 
      top: 0; 
      left: 0; 
    z-index: -1;
      /* Preserve aspet ratio */
      min-width: 10%;
      min-height: 30%;
      max-width: 100%;
      max-height: 100%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1100px) { /* Specific to this particular image */
    .homePicture{
        position: absolute; 
      top: 0; 
      left: 0; 
    z-index: -1;
      /* Preserve aspet ratio */
      min-width: 50%;
      min-height: 90%;
      max-width: 100%;
      max-height: 100%;
    }
    .aboutContainer{
        margin-top: 47rem !important;
    }
}

/* little computer >992px*/
@media only screen and (max-width : 1200px)  {
    .centered{
        font-size: 2.7rem;
        top: 40%;
    }
    .aboutContainer{
        margin-top: 38rem;
    }
    .aboutText{
        font-size: 1rem;
    }
    .rightPicture{
       
        margin-top: 5rem;
        border-radius: 25px;
    }
    .aboutTitle{
        font-size: 2.7rem;
    }
    .titleProduct{
        font-size: 2.5rem !important;
        margin-bottom: 2.5rem !important;
    }
    .productList{
        margin-top: 4.5rem;
    }
    .buttonMoreDiv{
        margin-top: 2rem;
    }
    .quoteLink{
        margin-top: 5rem;
    }
    .contactForm{
        margin-top: 5rem;
    }
    .buttonTakeInfo{
        margin-top: 1.5rem !important;
        margin-bottom: 4rem !important;
    }
    .titleForm{
        margin-top: 4rem !important;
    }
    .legalMention{

    }
    .linkDiv{
       
    }
        

}
@media only screen and (min-width : 815px) and (max-width : 991px){
    .aboutContainer{
        margin-top: 35rem !important;
    }
    .centered{
        font-size: 2.25rem !important;
        top: 35% !important;
    }
}
/* Tablet  > 768px*/
@media only screen and (max-width : 991px){
    .centered{
        font-size: 2.1rem;
        top: 30%;
    }
    .aboutContainer{
        margin-top: 28rem;
    }
    .buttonAbout{
        /* margin-left: 17rem !important; */
    }
    .buttonAboutDiv{
        text-align: center;
    }
    .aboutTitle{
        font-size: 2.8rem;
        text-align: center;
        margin-left: 0%!important;
    }
    .aboutText{
        margin-top: 5%;
        text-align: center; 
    }
    .rightPicture{
        margin-top: 3rem;
        max-height: 90%;
        max-width: 90%;
        /* margin-left: 4rem !important;
        margin-right: 3rem !important; */
        
    }
    .rightpictureDiv{
        text-align: center;
    }
    .linkDiv{
        margin-top: 3.3rem !important;
        
    }
    .socialsDiv{
        margin-top: 3.3rem !important;
    }
    .logoFooter{
        margin-top: 2.3rem;
    }
    .legalMention{
        font-size: 1.1rem;
    }
    .searchContainer{
        width: 60%;
        margin: 20px auto;
    }

    

}

/* Big phone, little tablet >600px */
@media only screen and (max-width : 768px){
    .homePictureMobile{
    position: absolute; 
      top: 0; 
      left: 0; 
    z-index: -1;
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .centered{
        font-size: 1.7rem;
        top: 45%;
    }
    .buttonAbout{
        /* margin-left: 11.5rem !important; */
    }
    .buttonAboutDiv{
        text-align: center;
    }
    .rightPicture{
        /* margin-left: 2.5rem !important;
        margin-right: 0rem !important; */
    }
    .rightpictureDiv{
        text-align: center;
    }
    .aboutContainer{
        margin-top: 50rem;
    }
    .linkDiv{
        margin-top: 2.8rem !important;
        text-align: center;
    }
    .legalMention{
        font-size: 0.8rem;
        
    }
    .socialsDiv{
        margin-top: 2.3rem !important;
    }
    .logoFooter{
        margin-top: 2rem;
        margin-right: 3rem;
    }


}
@media only screen and (min-width : 329px) and (max-width : 359px){
    .aboutContainer{
        margin-top: 26rem !important;
        
                
    }
}
@media only screen and (min-width : 360px) and (max-width : 399px){
    .aboutContainer{
        margin-top: 29rem !important;
        
                
    }
}
@media only screen and (min-width : 400px) and (max-width : 439px){
    .aboutContainer{
        margin-top: 33rem !important;
        
                
    }
}
@media only screen and (min-width : 440px) and (max-width : 479px){
    .aboutContainer{
        margin-top: 36rem !important;
        
                
    }
}
@media only screen and (min-width : 480px) and (max-width : 525px){
    .aboutContainer{
        margin-top: 40rem !important;
        
                
    }
}
@media only screen and (min-width : 526px) and (max-width : 560px){
    .aboutContainer{
        margin-top: 43rem !important;
        
                
    }
}
@media only screen and (min-width : 561px) and (max-width : 599px){
    .aboutContainer{
        margin-top: 46rem !important;
        
                
    }
}
/* //phone >320px*/
@media only screen and (max-width : 599px){
    .homePictureMobile{
        position: absolute; 
          top: 0; 
          left: 0; 
        z-index: -1;
          /* Preserve aspet ratio */
          min-width: 80%;
          min-height: 50%;
          max-width: 100%;
          max-height: 100%;
        }
    .centered{
        font-size: 1.6rem;
        top: 30%;
        border-radius: 5px;
    }
    .aboutContainer{
        margin-top: 24rem;
        
                
    }
    .aboutTitle{
        font-size: 2rem;
    }
    .aboutText{
        font-size: 0.7rem;
    }
    .rightpictureDiv{
        text-align: center;
    }
    .rightPicture{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }
    .buttonAbout{
        margin-left: 0rem !important;
        font-size: 0.6rem !important;
    }
    .buttonAboutDiv{
        text-align: center;
    }
    .titleProduct{
        font-size: 1.3rem !important;
    }
    .buttonMore{
        font-size: 0.6rem !important;
    }
    .helpTitle{
        font-size: 1.3rem;
    }
    .secondTitle{
        font-size: 0.8rem;
    }
    .buttonQuote{
        font-size: 0.6rem !important;
    }
    .contactForm{
        margin-top: 3rem;
    }
    .titleForm{
        font-size: 1.4rem !important;
    }
    .buttonTakeInfo{
        font-size: 0.6rem !important;
    }
    .logoInsta,.logoYT,.logoFb{
        height: 1.3rem;
        
    }
    .legalMention{
        font-size: 0.6rem;
    }
    .linkDiv{
        margin-top: 1.2rem !important;
    }
    .logoFooter{
        margin-top: 1.2rem;
        margin-right: 3rem;
    }
    .socialsDiv{
        margin-top: 1.2rem !important;
    }
}

@media only screen and (min-width :  400px) and (max-width : 500px){
    .centered{
        font-size: 1.3rem;
        top: 35%;
        border-radius: 5px;
    }
}
@media only screen and (min-width :  501px) and (max-width : 599px){
    .centered{
        font-size: 1.6rem;
        top: 40%;
        border-radius: 5px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 399px){
    .centered{
        font-size: 1rem;
        top: 30%;
        border-radius: 5px;
    }
}
@media only screen and (max-width : 319px){
    .centered{
        font-size: 0.7rem;
        top: 30%;
        border-radius: 5px;
    }
}

@media only screen and (min-width : 1750px){
    .aboutContainer{
        margin-top: 67rem !important;
        
                
    }
}



@media only screen and (min-width : 1850px){
    .aboutContainer{
        margin-top: 75rem !important;
        
                
    }
}
@media only screen and (min-width : 1950px){
    .aboutContainer{
        margin-top: 80rem !important;
        
                
    }
}

@media only screen and (min-width : 2100px){
    .aboutContainer{
        margin-top: 90rem !important;
        
                
    }
}

@media only screen and (min-width : 2200px){
    .aboutContainer{
        margin-top: 92rem !important;
        
                
    }
}


@media only screen and (min-width : 2300px){
    .aboutContainer{
        margin-top: 104rem !important;
        
                
    }
}
@media only screen and (min-width : 2400px){
    .aboutContainer{
        margin-top: 110rem !important;
        
                
    }
}



